*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jost",sans-serif;
}


html{
    font-size: 58.5%;
    scroll-behavior:smooth;
    scroll-snap-type: Y mandatory;
    scrollbar-width:thin;
}


body{
    background-color: rgb(234, 230, 230);
}
/* start common */
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    /* color: white; */
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.fa-brands,.fa-solid{
    padding-right: 0.7rem;
    font-size: 2rem;
}

.fa-instagram{
    width: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    background:linear-gradient(-170deg,
    blue,
    red,
    yellow);
}
.fa-facebook{
    width: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    color: rgb(24,119,242);
    background-color: white;
}
.fa-youtube{
    width: 2rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(255,0,0);
    background-color: white;
}
.fa-linkedin-in{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background-color: rgb(0,0,225);
    
}
.fa-envelope{
    width: 2.5rem;
    height: 2rem;
    margin-right: 1.5rem;
    color: orange;
}

.fa-arrow-right{
    margin-left: 0.7rem;
}


/* end common */


/* start header */
.head-class{
    position: fixed;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem;
    background-color: rgb(240, 248, 255);
    z-index: 8;
    
    & .container{
        grid-template-columns: 50% 50%;
    }
    & .nav-bar ul{
            /* margin-top: 0.5rem; */
            list-style: none;
            display: flex;
            justify-content: end;
            gap: 6rem;
            font-size: 1.7rem;
            & li{
            display: inline;
            font-weight: bold;
            letter-spacing: 0.15rem;
            
            & a:hover{
                text-transform: uppercase;
            }
        }

        #home{
            color: rgb(153, 18, 212);
            text-transform: uppercase;
        }
        #contact{
            color: rgb(153, 18, 212);
            text-transform: uppercase;
        }
        #project{
            color: rgb(153, 18, 212);
            text-transform: uppercase;
        }
        #about{
            color: rgb(153, 18, 212);
            text-transform: uppercase;
        }
    }
    & .logo{
        display: grid;
        justify-content: center;        
        & a{
            font-size: 2.2rem;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            border: 0.2rem solid black;
            border-radius: 0.5rem;
        }
        
    }
}
/* end header */


/* start main section */
main{
    width: 100%;
    height: 100vh;
    background-image: url(myimg5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    justify-items: center;

    
    & .container{
        grid-template-columns: 50% 50%;
        gap: 10rem;
    }
    
    & .main-section{
        width: 80%;
        border-radius: 1.8rem;
        padding: 10rem;
        
        & .my-img{
            order:2; 
        }        
        & .intro{
            order:1;
            & h1{
                font-size: 3rem;
                letter-spacing: 0.15rem;
                text-transform: capitalize;
                position: relative;
                height: 5rem;
                width: 70%;

            }
            & h1::before{
                content:"armanKhan";
                position: absolute;
                left: 0;
                overflow: hidden;
                animation-name: hide_name;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                border-right: 0.2rem solid black;
            }
            & p{
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: 0.119rem;
                text-align: justify;
                color: white;
            }
            
            & .about-pagelink{
                margin-top: 3rem;
            display: grid;
            justify-content: end;
            width: 20rem;
            z-index: 1;

                & a{
                    font-size: 1.7rem;
                    padding: 1rem 1.5rem 1rem 1.5rem;
                    background-color: black;
                    color: white;
                    border-radius: 2rem;
                    box-shadow: 0.2rem 0.4rem 0.4rem 0.1rem white;
                }
            }
        }
    }
}
@keyframes hide_name {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
/* shape divider */
.custom-shape-divider-top-1732389639 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1732389639 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    height: 12rem;
}

.custom-shape-divider-top-1732389639 .shape-fill {
    fill: rgb(0,0,0);
}
/*  */
.custom-shape-divider-bottom-1732387515 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732387515 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    height: 13rem;
}

.custom-shape-divider-bottom-1732387515 .shape-fill {
    fill: rgb(0,0,0);
}
/*  */
.custom-shape-divider-bottom-1732387265 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732387265 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    transform: rotateY(180deg);
    height: 13rem;
}

.custom-shape-divider-bottom-1732387265 .shape-fill {
    /* fill: rgb(234, 230, 230); */
    fill: rgb(0,0,0,0.5);
}

/* shape divider */
/* end main section */



/* start about section */
.about-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    position: relative;
    
    
    & .about-content{
        width: 80%;
        height: 80%;
        display: flex;
        margin: 2rem auto;
        flex-direction: column;
        justify-content: top;
        border-radius: 3rem;

        & .about-heading, .about-skills{
            width: 80%;
            margin: 0 auto;

            & h1{
                font-size: 2.5rem;
                text-transform: capitalize;
                letter-spacing: 0.2rem;
            }
            & h2{
                font-size: 2.2rem;
                text-transform: capitalize;
                letter-spacing: 0.2rem;
            }
            
            & p{
                font-size: 1.5rem;
                text-align: justify;
            }
            & p,ul{
                margin-top: 1rem;
                letter-spacing: 0.1rem;
                word-spacing: 0.3rem;
            }
            & ul{   
                font-size: 1.5rem;
                list-style-type:none;
            }

        }

        & .about-skills{
            margin-bottom: 1rem;

            & .list{
                display: flex;
                justify-content: space-around;
                gap: 2.5rem;
            }

            & .skills-img{
                background-image: url(myimg13.jpg);
                width: 23rem;
                height: 25rem;
                background-size: 100% 120%;
                background-color: red;
                clip-path: polygon(17% 5%, 75% 0, 100% 50%, 85% 92%, 24% 100%, 0% 50%);
            }

            & .k{
                width: 35rem;
                height: 1rem;
                background-color: rgb(0, 0, 0, 0.3);
                border-radius: 1.5rem;
                position: relative;
            }
            
            & .k1::after,.k2::after,.k3::after,.k4::after,.k5::after,.k6::after{
                content: " ";
                position: absolute;
                width: 0;
                height: 1rem;
                border-radius: 1rem;
                transition: all 0.2s linear;
                
            }            
                & .k1::after{
                    background-color: red;
                    width: 28rem;
                }
                
                & .k2::after{
                    background-color: green;
                    width: 25rem;
                }
                
                & .k3::after{
                    background-color: blue;
                    width: 20rem;
                }
                
                & .k4::after{
                    background-color: yellow;
                    width: 5rem;
                }
                
                & .k5::after{
                    background-color: orange;
                    width: 20rem;
                }
                
                & .k6::after{
                    background-color: black;
                    width: 25rem;
                }

        }

        & .about-pagelink{
            margin-left: 5rem;
            margin-top: 2rem;
            display: grid;
            justify-content: start;
            z-index: 1;
            & a{
                background-color: black;
                padding: 1rem 2rem;
                border-radius: 2rem;
                font-size: 1.7rem;
                color: white;
                border:0.2rem solid white;
            }
        }

    }

}

/* shape divider */
.custom-shape-divider-bottom-1732388389 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732388389 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    height: 14rem;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1732388389 .shape-fill {
    fill: rgb(0,0,0,0.5);
}
/*  */
.custom-shape-divider-bottom-1732388512 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732388512 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    height: 15rem;
}

.custom-shape-divider-bottom-1732388512 .shape-fill {
    fill: rgb(0,0,0);
}
/* shape divider */
/* end about section */


/* start project section */
.project-section{
    width: 100%;
    height: 100vh;
    background-image: url(backimg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed;

    & .project-content{
        width: 80vw;
        height: 90vh;        
        
        & h2{
            font-size: 3.5rem;
            text-shadow: 0 0 2rem white;
            color: white;
            text-transform: capitalize;
        }
        
        & .projects{
            margin: 0 auto;
            width: 80%;
            height: 70%;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 2.5rem;

            
            & .frame1, .frame2{
                height: 20rem;
            }
            
            & .frame{
                background-color: white;
                width: 100%;
                height: 25rem;

                
                & .iframe{
                    width: 90%;
                    height: 65%;
                    margin: 0.5rem auto;
                    overflow: hidden;
                    padding-top: 0.5rem;
                }

                & h5,p{
                    text-transform: capitalize;
                    text-align: center;
                }
                & h5{
                    padding-top: 1rem;
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                }
                & p{
                    font-size: 1.6rem;
                }
            }
            & .frame1,.frame2{
                & .iframe{
                    border: 0.2rem solid black;
                    width: 100%;
                }
            }   
        }

        & .project-button{
            margin-top: 5rem;
            width: 25rem;
            & a{
                background-color: black;
                padding: 1rem 2rem;
                border-radius: 2rem;
                font-size: 1.7rem;
                color: white;
                border:0.3rem solid white;
            }
        }

    }
}
/* end project section */

/* start footer */
footer{

    width: 100%;
    height: 41vh;
    background-color: rgb(0,0,0);

    & .container{
        grid-template-columns: 50% 50%;
        padding: 3rem;
        height:100%;
        
        & .logo{

            text-align: center;
            font-size: 3rem;
            
            & a{
                color: white;
                text-decoration: underline;
            }
            & p{
                font-size: 2rem;
                color: white;
            }

            & .about-pagelink{
                margin-top: 2rem;
                & a{
                    font-size: 2rem;
                    background-color: white;
                    color: black;
                    padding: 1rem;
                    text-decoration: none;
                    width: 20rem;
                    border-radius: 2rem;
                    box-shadow: 0.2rem 0.4rem 1rem 0.3rem black;
                }
            }
        }
        & .connect{
            display: grid;
            justify-content: center;
            align-items: center;
            
            & ul{
                list-style-type: none;
                line-height: 2;
                
                & a{
                    font-size: 1.8rem;
                    color: white;
                }

            }

        }
    }
}


/* end footer */




/* start contact page */

.contact-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    
    & .contact{
        padding: 4rem;
        filter: opacity(10rem);
        position:relative;
        
        & .contact-content{
            padding: 6rem;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            z-index: 2;
            
            & .forum{
                padding: 2rem 3rem ;
                box-shadow: 0 0 0.5rem 0.2rem white;
                border-radius: 2rem;
                margin-top:-1rem;



                & label{
                    font-size: 1.8rem;
                    color: white;
                    margin-top: 0.5rem;
                    letter-spacing: 0.1rem;
                                        
                    & input{
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border-color: transparent;
                        margin-bottom: 1rem;
                        width: 100%;
                    }

                    & textarea{
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border-color: transparent;
                        margin-bottom: 1rem;
                        width: 100%;
                    }
                }

                & .btn{
                    font-size: 1.5rem;
                    background-color: rgb(0,100,255);
                    color: white;
                    padding: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    border-radius: 5rem;
                }

                & .btn:hover{
                    scale: 1.1;
                    box-shadow: inset -0.1rem 0 0.5rem 0.2rem white;
                }
            }
            
            & .forum:hover{
                scale: 1.1;
            }
            
            & .connection ul{
                list-style-type: none;
                
                & li{
                    margin-bottom: 1rem;
                    
                    & a{
                        font-size: 2.2rem;
                        letter-spacing: 0.1rem;
                        color: white;
                        text-transform: capitalize;
                    }
                }

                & li:hover{
                    scale: 1.2;
                }
            }

            

        }
    }
    & .contact::after{
        content: " ";
        width: 90%;
        height: 90%;
        position: absolute;
        border: 0.6rem solid rgb(0,0,255,0.5);
        border-radius: 15rem 25rem 20rem 10rem;
        animation-name: rotations1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    & .contact::before{
        content: " ";
        width: 90%;
        height: 90%;
        position: absolute;
        border: 0.6rem solid rgb(255,0,0,0.5);
        border-radius: 17rem 25rem 10rem 30rem;
        animation-name: rotations2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

}
@keyframes rotations1 {
    0%{
        rotate: 0deg;
    }
    33%{
        width: 60%;
        rotate: -360deg;
    }
    66%{
        width: 60%;
        rotate: -720deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes rotations2 {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 360deg;
    }
    100%{
        rotate: 720deg;
    }
}


/* contact page shape divider */

.custom-shape-divider-top-1732432499 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1732432499 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    transform: rotateY(180deg);
    z-index: 4;
    height: 15rem;
}

.custom-shape-divider-top-1732432499 .shape-fill {
    fill: rgb(153, 18, 212);
}


/*  */

.custom-shape-divider-bottom-1732431944 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732431944 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3rem);
    height: 20rem;
}

.custom-shape-divider-bottom-1732431944 .shape-fill {
    fill: rgb(153, 18, 212);
}
/* contact page shape divider */



/* end contact page */




/* media query */
@media (width<=852px) {
    html{
        font-size: 54.5%;
    }

    /* common */
    .fa-brands,.fa-solid{
        font-size: 4rem;
    }

    .fa-instagram{
        width: 3.5rem;
    }
    .fa-facebook{
        width: 4rem;
    }
    .fa-youtube{
        width: 4rem;
        height: 3.5rem;
    }
    .fa-linkedin-in{
        width: 4.2rem;
        height: 4.2rem;        
    }
    .fa-envelope{
        width: 2.5rem;
        height: 2rem;
    }
/* common */

    .head-class{
        height: 7rem;
        & .container{
            & .logo{
                & a{
                    font-size: 3rem;
                }
            }
            & .nav-bar{
                margin-top: 1rem;
                & ul li a{
                    font-size: 2.5rem;
                    margin: 0.4rem;                    
                }
            }
        }
    }
    main{

        & .main-section{
            grid-template-columns: none;
            justify-items: center;
            height: auto;
            
            & .my-img{
                margin-top: 4rem;
                width: 40rem;
                height: 45rem;
            }
            
            & .intro{
                margin-top: -15rem;
                width: 50rem;

                & p{
                    font-size: 3.5rem;
                }
                & h1{
                    font-size: 5rem;
                }
                & .about-pagelink{
                    width: 30rem;
                    & a{
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }

    .about-section{
        & .about-content{

            & .about-heading, .about-skills, .about-my-qualification, .about-my-photos{
                & h1{
                    font-size: 4.5rem;
                }
                & h2{
                    font-size: 3.3rem;
                }
                
                & p,ul{

                    font-size: 3rem;
                    line-height: 3.5rem;
                }
                & ul{
                    & li{
                        font-size: 3rem;
                    }
                }
            }

            & .about-skills{
                display: grid;
                justify-items: center;

                & .list{
                    /* display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem; */

                    & ul{
                        font-size: 1.8rem;
                            & .k{
                                margin-bottom: 1rem;
                                height: 1.5rem;
                            }  
                            & .k1::after,.k2::after,.k3::after,.k4::after,.k5::after,.k6::after {
                                height: 1.5rem;
                            }
                    }
                    & .skills-img{
                        width: 0;
                        height: 0;
                    }
                }
            }

            & .about-pagelink{
                width: 40rem;
                margin-top: 5rem;
                & a{
                    font-size: 3.5rem;
                }
            }
        }
    }

    .custom-shape-divider-top-1732389639 svg {
        height: 25rem;
    }
    .custom-shape-divider-bottom-1732387515 svg {
        height: 30rem;
    }
    .custom-shape-divider-bottom-1732387265 svg {
        height: 25rem;
    }
    .custom-shape-divider-bottom-1732388389 svg {
        height: 50rem;
    }
    .custom-shape-divider-bottom-1732388512 svg {
        height: 45rem;
    }
    .custom-shape-divider-bottom-1732431944 svg {
        height: 30rem;
    }
    .custom-shape-divider-top-1732432499 svg {
        height: 20rem;
    }


    .project-section{
        & .project-content{
            height: auto;

            & h2{
                font-size: 3rem;
            }
            
            & .projects{
                margin-top: 8rem;
                height: 100rem;
                grid-template-columns: none;



                & .frame{
                    height: 35rem;
                    
                    & h5{
                        font-size: 3.5rem;
                    }
                    & p{
                        font-size: 3rem;
                    }
                }
            }

            & .project-button{
                margin-top: rem;
                width: 40rem;

                & a{
                    background-color: white;
                    color: black;
                    font-size: 3rem;
                }
            }
        }
    }

        /* contact page */
    .contact-section{
        width: 100%;
        & .contact{
            overflow: hidden;
            & .contact-content{
                margin: 0 auto;
                grid-template-columns: none;
                gap: 10rem;
                justify-content: center;
                
                & .forum{
                    margin-top: 7rem;
                    order: 1;
                    width: 50rem;
                    padding:5rem;
                    
                    & label{
                        font-size: 2.7rem;
                        
                        & input{
                            padding: 1.5rem;
                            width: 100%;
                        }
                    }
                    
                    & .btn{
                        width: 100%;
                        font-size: 3rem;
                    }
                }
                & .connection{
                    order: 2;
                    padding: 2rem;
                    & ul{
                        display: grid;
                        grid-template-columns: 40% 40%;
                        gap: 5rem;
                        justify-content: center;
                        & li{
                            width: 30rem;
                            & a{
                                font-size: 3.5rem;
                            }
                        }
                    }
                }
            }

        }
    }
    @keyframes rotations1 {
        0%{
            margin-top: 50rem;
            rotate: 0deg;
            height: 50%;
        }
        33%{
            margin-top: 100rem;
            rotate: -360deg;
        }
        66%{
            margin-top: 10rem;
            rotate: -720deg;
        }
        100%{
            margin-top: 50rem;
            height: 50%;
            rotate: 0deg;
        }
    }
    @keyframes rotations2 {
        0%{
            margin-top: 30rem;
            rotate: 0deg;
            height: 65%;
            border-color: yellow;
        }
        33%{
            margin-top: 10rem;
            rotate: 360deg;
            height: 50%;
        }
        66%{
            margin-top: 70rem;
            
        }
        100%{
            margin-top: 30rem;
            rotate: 720deg;
            height: 60%;
        }
    }
    /* contact page */

    footer{
        height: 30vh;

        & .container{
            & .logo{
                & a{
                    font-size: 4rem;
                }
                & p{
                    font-size: 3rem;
                }
                & .about-pagelink{
                    margin-top: 5rem;
                    & a{
                        font-size: 3rem;
                    }
                }
            }
            & .connect{
                & ul{
                    line-height: 1.8;
                    & a{
                        font-size:3.5rem;
                    }
                }
            }
        }
    }

}

@media (width<=530px) {
    html{
        font-size: 30.5%;
    }
/* common */
    .fa-brands,.fa-solid{
        font-size: 4rem;
    }

    .fa-instagram{
        width: 3.5rem;
    }
    .fa-facebook{
        width: 4rem;
    }
    .fa-youtube{
        width: 4rem;
        height: 3.5rem;
    }
    .fa-linkedin-in{
        width: 4.2rem;
        height: 4.2rem;        
    }
    .fa-envelope{
        width: 2.5rem;
        height: 2rem;
    }
/* common */

    .head-class{
        height: 13rem;
        & .container{
            grid-template-columns: none;
            
            & .logo{
                & a{
                    font-size: 4rem;
                }
            }
            & .nav-bar ul li a{
                font-size: 3.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    main{
        background-image: url(myimg11.jpg);
        & .container{
            grid-template-columns: none;
            justify-content: center;
        }
            
        & .main-section{
            margin-top: 20rem;
            width: 60rem;
            height: 75%;
            
            & .my-img{
                order: 1;
                width: 50rem;
                height: 50rem;
            }
            
            & .intro{
                order: 2;
                width: 50rem;
                padding: 3rem;

                & h1{
                    color: black;
                    height: 10rem;
                    font-size: 6.5rem;
                }
                & p{
                    font-size: 4.7rem;
                    width: 100%;
                    color: black;
                }
                & .about-pagelink{
                    width: 50rem;
                    & a{
                        font-size: 3.5rem;
                        font-weight: 600;
                        width: 30rem;
                    }
                }
            }
        }
    }

    .about-section{
        height: 100%;
        padding-bottom: 10rem;
        & .about-content{
            height: auto;
            
            
            & .about-heading, .about-skills, .about-my-qualification, .about-my-photos{
                & h1{
                    padding-top: 5rem;
                    font-size: 4.6rem;
                }
                & h2{
                    font-size:4rem;
                    width: 100%;
                }
                
                & p,ul{
                    font-size: 3.5rem;
                    line-height: 1.2;
                }
            }
            
            & .about-skills{
                & .list{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    
                    & ul{
                        font-size: 2.5rem;
                        & .k{
                            margin-bottom: 2.5rem;
                                height: 2rem;
                            }  
                            & .k1::after,.k2::after,.k3::after,.k4::after,.k5::after,.k6::after {
                                height: 2rem;
                            }
                        }
                        & .skills-img{
                        width: 40rem;
                        height: 45rem;
                    }
                }
            }

            & .about-pagelink{
                width: 40rem;
                margin-top: 5rem;
                & a{
                    font-size: 4rem;
                    font-weight: 600;
                }
            }
        }
    }

    .custom-shape-divider-top-1732389639 svg {
        height: 30rem;
    }
    .custom-shape-divider-bottom-1732387515 svg {
        height: 40rem;
    }
    .custom-shape-divider-bottom-1732387265 svg {
        height: 30rem;
    }
    .custom-shape-divider-bottom-1732388389 svg {
        height: 40rem;
    }
    .custom-shape-divider-bottom-1732388512 svg {
        height: 27rem;
    }
    .custom-shape-divider-bottom-1732431944 svg {
        height: 50rem;
    }
    .custom-shape-divider-top-1732432499 svg {
        height: 30rem;
    }


    & .project-section{
        height: 100vh;
        & .project-content{
            height: 80%;
            margin-bottom: 10rem;
            
            & h2{
                font-size: 5rem;
            }
            
            & .projects{
                height: 80%;
                display: grid;
                grid-template-columns: none;
                gap: 2rem;
                
                
                & .frame{
                    height: 35rem;
                                        
                    
                    & h5{
                        font-size: 3.5rem;
                    }
                    & p{
                        font-size: 3rem;
                    }
                }
            }
            
            & .project-button{
                margin-top: 5rem;
                width: 100%;

                & a{
                    font-size: 3.5rem;
                    font-weight: 600;
                }
            }
        }
    }

    footer{
        height:  35vh;

        & .container{
            grid-template-columns: none;

            & .logo{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                
                & a{
                    font-size: 6rem;
                }
                
                & p{
                    font-size: 4rem;
                }
                
                & .about-pagelink{
                    & a{
                        font-size: 4rem;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
            & .connect{
                margin-top: 5rem;

                & ul{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;

                    & .fa-brands,.fa-solid{
                        font-size: 4rem;
                    }


                    & a{
                        font-size: 0;
                    }
                }
            }
        }
    }

    /* contact page */
    .contact-section{
        height: 100vh;
        & .contact{
        
            & .contact-content{
                grid-template-columns: none;
                gap: 10rem;
                margin-top: 20rem;
                justify-content: center;
                
                & .forum{

                    & label{
                        font-size: 3rem;
                        
                        & input{
                            padding: 1rem;
                        }
                    }
    
                    & .btn{
                        width: 100%;
                        font-size: 4rem;
                    }
                }

                & .connection ul{
                    display: grid;
                    grid-template-columns: 40% 40%;
                    gap: 2rem;
                    list-style-type: none;
                    
                    
                    & li{
                        margin-bottom: 2rem;
                        width: 30rem;
                        & a{
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
    /* contact page */

}

@media (width<=375px) {
    html{
        font-size: 22.5%;
    }
/* common */
/* common */
.fa-brands,.fa-solid{
    font-size: 4rem;
}

.fa-instagram{
    width: 3.5rem;
}
.fa-facebook{
    width: 4rem;
}
.fa-youtube{
    width: 4rem;
    height: 3.5rem;
}
.fa-linkedin-in{
    width: 4.2rem;
    height: 4.2rem;        
}
.fa-envelope{
    width: 2.5rem;
    height: 2rem;
}
/* common */


    .head-class{
        height: 15rem;
        & .nav-bar ul{
            font-size: 2.2rem;
            & li{
                margin: 0.4rem;
                & a{
                    text-transform: uppercase;
                }
            }
        }
        & .logo{
            & a{
                font-size: 9rem;

            }
        }
    }
    main{
        height: 100vh;
        align-items: center;


        & .main-section{
            height: 65%;
            margin-top: 3rem;
            & .my-img{
                width: 42rem;
                height: 42rem;
            }
            & .intro{
                
                & h1{
                    font-size: 6.5rem;
                    width: 100%;
                    letter-spacing: 0;
                }
                & p{
                    font-size: 4rem;
                    letter-spacing: 0.1rem;
                }

                & .about-pagelink{
                    z-index: 1;
                }

            }

        }
    }
    
    .about-section{
        height: 100vh;
        & .about-content{
            padding: 2rem;
            margin-top: 9rem;

            & .about-heading, .about-skills, .about-my-qualification{
                & p{
                    font-size: 3.5rem;
                }

            }

            & .about-skills{
                & .list{
                    & ul{
                        list-style-type: none;
                    }
                }
            }

            & .about-my-qualification{
                width: 100%;

                & table{
                    width: 100%;

                    & td,th{
                        font-size: 2rem;
                    }
                }
            }

            & .about-photos{
                grid-template-columns: none;

                & .post:hover{
                    scale: 1.5;
                }
                
            }

            & .about-pagelink{
                margin-left: -1rem;
                & a{
                    background-color: white;
                    color: black;
                    border-color: black;
                    font-size: 3rem;
                }
            }
        }
    }

    .custom-shape-divider-top-1732389639 svg {
        height: 40rem;
    }
    .custom-shape-divider-bottom-1732387515 svg {
        height: 40rem;
    }
    .custom-shape-divider-bottom-1732387265 svg {
        height: 30rem;
    }
    .custom-shape-divider-bottom-1732388389 svg {
        height: 35rem;
    }
    .custom-shape-divider-bottom-1732388512 svg {
        height: 25rem;
    }
    .custom-shape-divider-bottom-1732431944 svg {
        height: 40rem;
    }
    .custom-shape-divider-top-1732432499 svg {
        height: 30rem;
    }
    
    .project-section{
        & .project-content{
            margin-top: 15rem;

            & .projects{
                
                & .frame{
                    height: 28rem;
                    & p{
                        font-size: 0;
                    }
                    
                }
            }

            & .project-button{
                margin-top: 2rem;
                & a{
                    background-color: white;
                    color:black;
                }
            }
        }
    }


    /* contact page */
    .contact-section{
        height: 100vh;

        & .contact{

            & .contact-content{
                grid-template-columns: none;
                gap: 10rem;
                width: 80%;
                
                & .forum{
                    margin-left: -2rem;
                    order: 1;

                    & label{
                        font-size: 3rem;
                        
                        & input{
                            padding: 1rem;
                        }
                    }
    
                    & .btn{
                        width: 100%;
                        font-size: 4rem;
                    }
                }

                & .forum:hover{
                    scale: 1;
                }

                & .connection{
                    order: 2;
                    & ul{

                        display: grid;
                        grid-template-columns: 40% 40%;
                        gap: 2rem;
                        
                        
                        & li{
                            margin-bottom: 2rem;
                            width: 30rem;
                            & a{
                                font-size: 3.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* contact page */

}